body {
  background: #000;
  font-family: "Georgia";
  font-weight: 600;
}

.App {
  text-align: center;
}

.App-logo {
  max-width: 500px;
  margin: 25px;
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infogram-container {
  width: 100%;
  background: #000;
  text-align: center;
  margin-bottom: 100px;
}

.infogram {
  width: 90%;
  max-width: 620px;
  margin: auto;
}

.intro {
  font-size: 21px;
  color: #000;
  width: 90%;
  max-width: 620px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
}

.span.stat {
  line-height: .8 !important;
}

.stat {
  color: #CB352E;
  font-style: italic;
}

.block {
  background-color: rgba(249,204,202,.5);
  padding: 20px;
}

.text {
  font-weight: 400;
}

.cherry-mark {
  margin-top: 40px;
  width: 30px;
}

.graphs {
  display: flex;
  justify-content: space-evenly;
}

.graph-2 {
  display: flex;
  flex-direction: column;
}

.revenue {
  background-color: rgba(249,204,202,.5);
  width: 90px;
  height: 90px;
  border-radius: 50px;
  align-self: center;
  margin-bottom: 8px;
}

.revenue:hover {
  background-color: rgba(249,204,202,.7);
}

.revenue > div span.number {
  color: #CB352E;
  font-size: 50px;
  position: relative;
  left: 10px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.revenue:hover > div span.number {
  color: #CB352E;
  font-size: 54px;
}

.revenue > div span.name {
  position: relative;
  top: -15px;
  font-size: 16px;
  display: block;
  left: 5px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.revenue:hover > div span.name {
  top: -18px;
}

.top {
  position: relative;
  left: -4px;
}

.symbol {
  color: #CB352E;
  font-size: 24px;
  position: absolute;
  top: 12px;
  left: 24px;
}

/* CSS Percentage Circle */

.rect-auto, .c100.p52 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p52 .fill {
  position: absolute;
  border: 0.08em solid #CB352E;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill, .c100.p52 .bar:after, .c100.p52 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  margin-bottom:10px;
  text-align: center;
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  background-color: #FACCC9;
  margin-bottom: 8px;
}
.c100 *, .c100 *:before, .c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 240px;
}
.c100.small {
  font-size: 90px;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 18px;
  top: 25px;
  width: 4em;
  line-height: 1em;
  font-size: 14px;
  color: #CB352E;
  display: block;
  text-align: center;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100 > span.percent {
  top: 40px;
  left: 0px;
  font-size: 24px;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 100%;
  line-height: 1em;
  font-size: 16px;
  color: #CB352E;
  left: 0px;
  top: 25px;
}
.c100:hover > span.percent {
  left: 2px;
  top: 40px;
  font-size: 26px;

}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}